<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div>
            <h1>{{ detail.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' detail.id %}">Edit</a>
                <a href="{% url 'todo_list_delete' detail.id %}">Delete</a>
            </p>
        </div>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for x in detail.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' detail.id %}">{{ x.task }}</a>
                        </td>
                        <td>{{ x.due_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
